<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webexam.mapper.SubjectMapper">

    <select id="queryAll" resultType="Subject">
        SELECT `id` AS id,
                `code` AS code,
                `name` AS name,
                `credit` AS credit
        FROM `t_subject`
        ORDER BY `code` ASC
    </select>

    <select id="queryByPage" resultType="Subject">
        SELECT `id` AS id,
                `code` AS code,
                `name` AS name,
                `credit` AS credit
        FROM `t_subject`
        ORDER BY `code` ASC
        LIMIT #{pCurrent}, #{pSize}
    </select>
</mapper>