<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.economy.mapper.IndexImgMapper">

    <select id="queryAll" resultType="IndexImg">
        SELECT `id` AS id,
                `img_path` AS imgPath,
                `description` AS  description,
                `sort_no` AS sortNo
        FROM `t_index_img`
        ORDER BY `sort_no`
    </select>

    <select id="queryById" resultType="IndexImg">
        SELECT `id` AS id,
                `img_path` AS imgPath,
                `description` AS description,
                `sort_no` AS sortNo
        FROM `t_index_img`
        WHERE `id` = ${id}
    </select>

</mapper>